*{
    box-sizing: border-box; 
    font-family: "Comic Sans MS";
}

body{
    margin: 0;
    background-color: rgb(155, 194, 145);
}

header{
    background-color: #0d4608;
    color: bisque;
}

.header-wrapper{
    width: 90%;
    margin: 0px auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-size: 22px;
    font-weight: bold;
}

nav{
    background-color: rgb(255, 255, 102);
    width: 50%;
    height: 80vh;
    display: none;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: flex;
    top: 50%;
    right: 50%;
}

.close-button{
    width: 90%;
    text-align: right;
    margin: 30px;
}

.close-button > i,
.open-button > i{
    cursor: pointer;
    font-size: 30px 0;
    color: black;
}

.link{
    margin-bottom: 40px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.drps, .refl, .intros, .chals, .steps, .citas{
    width: 90%;
    margin: 0px auto;
    font-size: 22px;
}

.timeline{
    width: 100%;
    align-items: center;
}

h1, h2{
    margin: 0px 35%;
}

.time-wrapper{
    justify-content: space-around;
    flex-direction: row;
}
